<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="wfa_hobby.Properties.Settings.maconnexionString" connectionString="Data Source=bd-tinfo;Initial Catalog=l.mous_hobby;Integrated Security=True;Encrypt=False" />
    </connectionStrings>
</configuration>